---
layout: page 
---
<div>
  <ul class="nav nav-tabs" role="tablist">
    <li class="active"><a href="#spec" role="tab" data-toggle="tab">Specification</a></li>
    <li ><a href="#steps" role="tab" data-toggle="tab">Step definitions</a></li>
	<li ><a href="#sut" role="tab" data-toggle="tab">System under test</a></li>
	<li ><a id="runButton" href="#result" role="tab" data-toggle="tab">Result</a></li>

  </ul>
 <div class="tab-content">
	 <div role="tabpanel" class="tab-pane fade in active" id="spec">
<textarea id="markdownArea" class="examples">
{% include {{page.example | prepend: 'examples/'  |  append: '.txt' }} %}
</textarea>
	 </div>
	 <div role="tabpanel" class="tab-pane fade" id="steps">
<textarea id="stepsArea" class="examples">
{% include {{page.example | prepend: 'examples/'  |  append: '-steps.js' }} %}
</textarea>
	</div>
	 <div role="tabpanel" class="tab-pane fade" id="sut">
<textarea id="sutArea" class="examples">
{% include {{page.example | prepend: 'examples/'  |  append: '-sut.js' }} %}
</textarea>

	 </div>
	 <div role="tabpanel" class="tab-pane fade" id="result">
		<div id="outputArea" class="examples">
		</div>
	 </div>
 </div>
</div>




<script type="text/javascript" src="/lib/daspec-web.js"></script>
<script type="text/javascript">
	/*global document, DaSpec, localStorage*/
var runButton = document.getElementById('runButton'),
	markdownArea = document.getElementById('markdownArea'),
	outputArea = document.getElementById('outputArea'),
	stepsArea = document.getElementById('stepsArea');
	sutArea = document.getElementById('sutArea'),
	rerun = function () {
		'use strict';
		var defineSteps = function (context) {
			window.defineStep = context.defineStep;
			eval(sutArea.value + '\n' + stepsArea.value);
		},
			runner = new DaSpec.Runner(defineSteps),
			result;
		try {
			result = runner.example(markdownArea.value);
			$('#outputArea').text(result);
		} catch (e) {
			$('#outputArea').text((e.name || '') + ' ' + (e.message || '') + ' ' +  (e.stack || '') );
		}
	};


runButton.addEventListener('click', rerun);
</script>
