body {
  padding-bottom: 40px;
  color: #5a5a5a;
}

.marketing {
  padding-left: 15px;
  padding-right: 15px;
}

.feature {
  text-align: center;
  margin-bottom: 20px;
}
.marketing h2 {
  font-weight: normal;
}
.feature p {
  text-align: left;
}

.col-header {
  width: 250px; 
}


.instructions div {
  margin-top: 1em;
}
.instructions img {
  border:0px;
  max-width: 300px;
  margin-left: 1em;
}
.enormous {
  font-size: 10em;
  display: block;
  text-align: center;
}
.bottom {
  width: 100%;
  text-align: center;
  border-top: 1px solid #eee;
  margin-top: 10px;
  padding-top: 10px;
}
.carousel .item {
  height: 250px;
}
.carousel-caption p {
  text-shadow: black 1px 1px, rgb(19,19,19) 0px 0px 30px;
}
.carousel-caption footer a {
  color: #eeeeee;
  text-shadow: black 1px 1px, rgb(19,19,19) 0px 0px 30px;
}
.jumbotron {
min-height: 500px;
}
.jumbo-text {
  vertical-align: bottom;
}
.jumbo-img {
  height: 400px;
  float: right;
}
.jumbotron h1 {font-size: 50px;}
.jumbotron h1 small {font-size: 30px;}
.center {
  text-align:center;
}
.link-spacing { padding-right: 0.5em;}

#page-content table {
  margin-top: 10px;
  margin-bottom: 10px;
}
#page-content table td, #page-content table th {
  border: 1px solid silver;
  padding: 5px;
}

